
body
{
    margin:0px auto;
}

.container
{
    width:1170px;
    margin:0 auto;
}

header
{
    width:100%;
    height:88px;
    background-color:#FFFFFF;
    margin:0px;
    box-sizing:border-box;
    position: fixed;
    z-index: 1;
    
    box-shadow: 0px 1px 0px #F1EFFD;
}

header .container img
{
    width:160px;
    height:52px;
    margin-top:19px;
    margin-bottom: 17px;
     
}

.navigationbar
{
    float:right;
    margin-right:15px;
    height:88px;
    box-sizing:border-box; 
   
}

.navigationbar nav
{
    height:88px;
    box-sizing: border-box;
}


.navigationbar a
{
    float:left;
    text-decoration: none;
    color:#261D4B;
    font-family: Montserrat;
    padding-right:15px;
    padding-left:15px;
    padding-top:35px;
    padding-bottom:34px; 
    font-size:16px;
    text-align: center;    
}

.navigationbar a:hover
{
    color:#FFFFFF;
    background-color: #4DAEB2;
}



header nav a:last-child
{
    color:#4DAEB2;
}

header nav a:first-child
{
    background-color: #4DAEB2;
}

header nav a:last-child:hover
{
    background-color: #FFFFFF;
}
.secondblock
{
    width:100%;
    background-color: #FAF9FF;
    padding-top:88px;
    height:493px;
    box-shadow: 0px 4px 10px #DED9F9;
    text-align: center;  
    

}

.secondblock .container
{
    display:inline-block;
    position:relative;
    

}

.secondblock .container img
{   
    
    position: absolute;
    top:23px;
    right:0px;
    float: right;    
    
    
}


.content_div
{
    text-align: right;
    float:left;
    margin-right:64px;
    width:60%;
}
.secondblock .container .content_div h2{
    font-family: 'Rubik', sans-serif;
    font-size:52px;
    color:#261D4B;
    text-align: right;
    padding-top:96px;
    font-weight: lighter;
    

}
.secondblock .container .content_div p
{
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    color: #726F7A;
font-weight: lighter;
    text-align: right;
    
}

.button
{
    height: 50px;
    width: 204px;
    transform: skew(-20deg);
    background: #82D7DB;
    border-radius: 5px;
    float: right;
    text-align: center;
    box-sizing: border-box;
    
}

.content_div a{
    color:#28282E;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-top:15px;
    text-transform: none;
    

}

.third_block
{
    padding-top:50px;
    width:100%;
    text-align: center;
}

.content_div2
{
    text-align:center;
}

h4
{
    font-family: 'Rubik', sans-serif;
    color:#261D4B;
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
    

}

.third_block .content_div2 h4{
    margin-top:30.33px;
    margin-bottom: 0px;
}

.content_div2 p
{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:#726F7A;
    font-weight: lighter;

}

.four_images
{
    text-align: center;
    display:inline-block;
    position: relative;
}



.img1
{   
    background-image: url(../images/sh1.png);
    float:left;
    margin-right:65px;
    height: 171px;
    width:154px;
    background-repeat: no-repeat;
    padding-top:34px;
    text-align: center;
}

.img2
{
    background-image: url(../images/sh2.png);

    float:left;
    margin-right:65px;
    height: 154px;
    width:136px;
    background-repeat: no-repeat;
    padding-top:34px;
    vertical-align: middle;
    text-align: center;

    

}





.four_images h5{
    color:#FFFFFF;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-bottom: 35px;


}

.content3{
    border:#DCDCDC 1px solid;
padding: 30px;
position: relative;
    }



.content3::before
{
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 1px #dcdcdc solid;
    border-left: 1px #DCDCDC solid;
    left:224px;
    content:'';
    transform: rotate(45deg);
    margin-top:-56px;
    background:#FFFFFF
}    

.contents
{
    color:#615F67;
    font-family: 'Montserrat', sans-serif;
    float: left;
    width:444.34px;

    text-align: left;
}

.contents p{
    margin-top:0px;
}

.third_block .container.content3 img{
    padding-top: 20px;
    float:right;
    
    
}


hr{
    position: absolute;
    width: 477px;
    left:143px;
    top:73px;
    z-index: -1;
    color:#C7E3E3;
}




.fourth_block
{
    width: 100%;
    text-align: center;
    margin-top:52px;
    background-color: #F7F7FB;
    position: relative;
    padding-bottom:66px;
}

.fourth_block::after
{

    position: absolute;
    width: 50px;
    height: 50px;
    border-bottom: 1px #dcdcdc solid;
    border-right: 1px #DCDCDC solid;
    left:965px;
    content:'';
    transform: rotate(45deg);
    margin-top:39px;
    background: #f7f7f7;
    box-shadow: #8D87A8;

}

.fourth_block h4
{
    
    padding-top:34px;

}


.fourth_block .container
{
    text-align: center;

}

.three_imgs
{
    text-align: center;
    display: inline-block;
}
.img31
{
    background-image: url(../images/big.png);
    height: 258px;
    width: 229px;
    float: left;
    margin-right: 135px;
    
    
}


.img32
{
    background-image: url(../images/big.png);
    height: 258px;
    width: 229px;
    float: left;
    margin-right: 135px;
    text-align: center;
}

.img33
{
    background-image: url(../images/big.png);
    height: 258px;
    width: 229px;
    float: left;
}

.three_imgs h5{
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    margin-top:40px;


}

.img31 img{
    margin-right: 14px;
    margin-top:20px;
    
    
}


.combine
{
    text-align: center;
    display: inline-block;
}

.combine p{
    color:#8ADCDB;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    
    margin-right: 12px;
    margin-top:3px;



}



.c1
{
    float: left;
    
}

.c2{
    float: left;
    padding: 0px 5px;
    
    border-right :1px #7ECED2 solid;
    border-left: 1px #7ECED2 solid;
}




.three_imgs h6{
    color:#FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top:5px;
    


}

.img33 img{
    margin-right: 24px;
}


.video_div
{
    text-align: center;
}

footer
{
    height: 76px;
    background-color: #2A2735;
    color:#A5A5A5;
    box-sizing: border-box;
    padding-top:30px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-top:31px;
}


.icons
{
    float: right;
    margin: -10px;
    
}

.i1{
    background-image: url(../images/poly.svg);
    height: 36px;
    width:32.76px;
    text-align: center;
    float: left;
    margin-right: 5px;
    
    font-size:24px;

    

}

footer .container p{
    display: inline;
}

.i1 i{
    margin-top:7px;
}

.i1 a
{
    color:#ECECED;
}